.env/
        .idea/.gitignore
        .idea/Voicebot_for_SQL.iml
        .idea/dataSources.xml
        .idea/inspectionProfiles/
        .idea/misc.xml
        .idea/modules.xml
        .idea/vcs.xml
openai_api_key.txt
